div.container {
  padding: 2.5px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

div.container img {
  width: 40vw;
  border-radius: 14px;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + label img {
  box-shadow: 0 0 0 5px rgb(255, 0, 0);
}

div.choiceButton {
  padding: 2.5px;
  display: flex;
  justify-content: center;
  text-align: center;
}

div.choiceButton input[type=button] {
  width: 20%;
  height: 5vh;
  border-radius: 100vh;
  margin: 0 2%
}

.result_button {
  width: 25vw;
  height: 3vh;
  border-radius: 100vh;
  text-align:center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #161616;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f0f0f0;
}

/* 画像のスタイル */
.tierImage {
  width: 10vw;
}